<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Project Management App: Spring Framework</title>
</head>
<body>
<h2>Create a project</h2>
<form action="/projects/save" th:object="${project}" method="POST">
  <label for="project"> Project Name:</label><br>
  <input type="text" id="pname" name="pname" th:field="${project.name}"><br>
  <label for="lname">Description:</label><br>
  <input type="text" id="description" name="description" th:field="${project.description}"><br><br>
  <div class="form-group row">
			<select th:field="*{employees}" multiple="multiple">
				<option th:each = "employee : ${allEmployees}"
						th:value = "${employee.employeeId}"
						th:text = "${employee.firstName}">
				</option>
			</select>
		</div>
		
  <label for="stage">Stage:</label><br>
  <input type="text" id="stage" name="stage"th:field="${project.stage}"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>